[DEFAULT]
base_path = data

[PREPROCESSOR]
input_path = raw_inp.json
output_path = raw_inp.pkl

[SPLITTER]
input_path = preprocessed_data.pickle
output_test_path = training_data.pickle
output_train_path = testing_data.pickle
split_ratio = 0.8

[TRAINER]
input_path = training_data.pickle
output_path = model.pickle

[VALIDATOR]
data_path = testing_data.pickle
model_path = model.pickle
output_metrics = metrics_dict.pickle
output_plot = hist_vs_pred.png
